{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form action = "/items" method = "post">
    <p>Add item: <input type="text" name="title" />
      <select name="status" id="status">
        <option value="To Do">To Do</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
      </select> <input type="submit" value="submit" /></p>
 </form>

  <p>(Use the dropdown lists to change the status of an existing item)</p>
  <div class="row">
    <div class="col">
      <h2>To Do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.todo_items %}
          <form action = "/items/{{item.card_id}}" method = "get">
            <li>{{item.name}} 
              <select name="status" id="status" onchange="this.form.submit()">
                <option value="To Do"{% if 'To Do' == item.status %} SELECTED{% endif %}>To Do</option>
                <option value="Doing"{% if 'Doing' == item.status %} SELECTED{% endif %}>Doing</option>
                <option value="Done"{% if 'Done' == item.status %} SELECTED{% endif %}>Done</option>
              </select>
            </li>
          </form>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <form action = "/items/{{item.card_id}}" method = "get">
            <li>{{item.name}} 
              <select name="status" id="status" onchange="this.form.submit()">
                <option value="To Do"{% if 'To Do' == item.status %} SELECTED{% endif %}>To Do</option>
                <option value="Doing"{% if 'Doing' == item.status %} SELECTED{% endif %}>Doing</option>
                <option value="Done"{% if 'Done' == item.status %} SELECTED{% endif %}>Done</option>
              </select>
            </li>
          </form>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>Done</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <form action = "/items/{{item.card_id}}" method = "get">
            <li>{{item.name}} 
              <select name="status" id="status" onchange="this.form.submit()">
                <option value="To Do"{% if 'To Do' == item.status %} SELECTED{% endif %}>To Do</option>
                <option value="Doing"{% if 'Doing' == item.status %} SELECTED{% endif %}>Doing</option>
                <option value="Done"{% if 'Done' == item.status %} SELECTED{% endif %}>Done</option>
              </select>
            </li>
          </form>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}